.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  height: 30px;
}

.image {
  margin: auto;
}

.image img {
  display: block;
  width: 160px;
  height: 100px;
  border-radius: 5px;
}

.details {
  color: gray;
}

a {
  text-decoration: none !important;
  color: gray;
}

.table {
  text-transform: capitalize;
  color: rgb(17, 104, 180);
}

.tabletitle {
  font-family: Tahoma;
  color: rgb(17, 104, 180);
}
