.container {
  margin: 0;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /* border: 1px solid black; */
}

.card {
  margin: 10px auto;
  background: #ffffff;
  /* box-shadow: #f2bd94 0px -23px 25px 0px inset, #f2bd94 0px -36px 30px 0px inset,
    #f2bd94 0px -79px 40px 0px inset, #f2bd94 0px 2px 1px, #f2bd94 0px 4px 2px,
    #f2bd94 0px 8px 4px, #f2bd94 0px 16px 8px, #f2bd94 0px 32px 16px; */
  box-shadow: #f2bd94 0px -23px 25px 0px inset, #f2bd94 0px -36px 30px 0px inset,
    #f2bd94 0px -79px 40px 0px inset;
  padding: 2px;
  border: 1px solid rgb(121, 121, 121);
  width: 370px;
  height: 100px;
  border-radius: 5px;
}

.title {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
  text-transform: capitalize;
  /* font-weight: 500; */
}

.image {
  float: left;
  margin: 10px;
}

.image img {
  border-radius: 5px;
}

.details {
  color: gray;
  margin-top: 10px;
}
.url {
  margin-top: 10px;
}

a {
  text-decoration: none !important;
  color: gray;
}

.time,
.servings {
  color: rgb(107, 80, 45);
}

.btn {
  margin-top: 5px;
}

button {
  /* border: 1px solid #ffffff; */
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 3px;
  padding: 2px;
  float: left;
  margin-right: 5px;
}

button img {
  height: 18px;
}
